@media only screen and (max-width: 600px) {
   


}
body{
    background-color:bisque;
    margin: 0;
}
#header{
    background-color: rgb(29, 29, 85);
    padding: 15px;
    text-align: center;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
}
.head-text{
    text-align: center;
    color: rgb(230, 248, 250);
    padding: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#top{
    background-color:bisque;
}
a:hover,a:active{
   background-color: darkcyan;
   text-decoration: none;
   padding: 3px 0px;
}
a:link, a:visited{
    color: rgb(233, 179, 179);
    text-decoration: none;
}
.img{
    width: 100%;
    height: 400px;
    padding-top :0px;
    margin: 0;
}
#section{
      background-color: cornsilk;
}
.images{
    width: 300px;
    height: 250px;
    padding: 5px;
    border-radius: 10%;
}
table{
   margin-left: auto;
   margin-right: auto;
}
#heading{
    color: #31517a;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
}
td,tr{
    text-align: center;
}
#para{
    font-size:18px;
    letter-spacing:inherit;
    color: rgb(0, 0, 0);
    font-family: arial;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(244, 244, 250);
    line-height: 1.5;
 }
#footer{
    text-align: center; 
    background-color: rgb(223, 221, 221); 
    padding: 10px;
}